/*
Jason Olander, Foundations 1, 9/14
Assignment 04
Upgrade race with jquery, html, css
*/

body{
  text-align: center;
  background-color: #E4DBBF;
  color: #DC5B21;
}

h1 {
  height: 20px;
}

h2 {
  height: 18px;
}

ul {
  list-style: none;
  text-align: center;
}

li{
  background-color: #383127;
  border-color: Black;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-left: 32%;
  margin-right: 35%;
  padding-top: 2px;
  padding-bottom: 2px;
}

p {
  font-size: 16px;
  height: 18px;
}

.selected {
  background-color: #70AB8F;
}

ul.race{
  height: 200px;
  margin-left: 200px;
  margin-right: 200px;
  border-color: Black;
  border-width: 3px;
  border-style: solid; 
  text-align: left;
  background-image: url('../img/racetrack.jpg');
  background-repeat: repeat;
  background-position: center center;
  background-color: #383127;
}

li.racer{
  background-color: transparent;
  border-color: none;
  border-width: 0px;
  border-style: none; 
  margin: auto auto auto auto;
}
